openapi: 3.1.0
info:
  description: An OpenAPI specification for the OpenAlex API
  license:
    name: CC0 1.0 Universal
    url: https://creativecommons.org/publicdomain/zero/1.0/
  title: OpenAlex API
  version: 1.0.0
servers:
- url: https://api.openalex.org
security:
- PoliteEmail: []
paths:
  /authors:
    get:
      description: Returns a list of authors.
      operationId: listAuthors
      parameters:
      - description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        examples:
          single_filter:
            summary: Filter works by type
            value: type:book
          multiple_filters:
            summary: Filter works by type and citation count
            value: "type:book,cited_by_count:>1"
          negation:
            summary: Filter institutions not in the US
            value: country_code:!us
          intersection:
            summary: Filter works with authors from France and UK
            value: institutions.country_code:fr+gb
          addition:
            summary: Filter works with authors from France or UK
            value: institutions.country_code:fr|gb
        explode: true
        in: query
        name: filter
        required: false
        schema:
          description: |
            Filters narrow the list down to just entities that meet particular conditions.
            Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
          example: "type:book,cited_by_count:>1,is_oa:true"
          type: string
        style: form
      - description: Text search query string to find entities that match the given
          text.
        examples:
          simple_search:
            summary: Simple search query
            value: dna
          boolean_search:
            summary: Boolean search query
            value: (elmo AND "sesame street") NOT (cookie OR monster)
          exact_phrase:
            summary: Exact phrase search
            value: fierce creatures
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
          Append ':desc' to sort in descending order. Default sort direction is ascending.
        examples:
          single_sort:
            summary: Sort by cited_by_count in descending order
            value: cited_by_count:desc
          multiple_sort:
            summary: Sort by publication year (descending) then by relevance score
              (descending)
            value: "publication_year:desc,relevance_score:desc"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Comma-separated list of fields to sort by. Append ':desc' for descending order.
            Available sort properties (where they exist):
            * display_name
            * cited_by_count
            * works_count
            * publication_date
            * relevance_score (only when a search filter is active)
          example: "cited_by_count:desc,publication_date"
          type: string
        style: form
      - description: |
          A cursor value for paginating through results. Use '*' to start cursor pagination, or use the 'next_cursor' value from the previous response to get the next page.

          Warning: Don't use cursor paging to download the whole dataset. It's inefficient and puts a massive load on the servers. Instead, use the OpenAlex snapshot for downloading all data at once.
        examples:
          start_cursor:
            summary: Start cursor pagination
            value: '*'
          next_page:
            summary: Get the next page of results
            value: IlsxNjA5MzcyODAwMDAwLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzI0ODg0OTk3NjQnXSI=
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: "A cursor value for paginating through results. Use '*' to\
            \ start cursor pagination, or use the 'next_cursor' value from the previous\
            \ response to get the next page."
          example: '*'
          type: string
        style: form
      - description: "The number of results to return per page. Minimum is 1, maximum\
          \ is 200, default is 25."
        examples:
          default:
            summary: Default number of results per page
            value: 25
          maximum:
            summary: Maximum number of results per page
            value: 200
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          default: 25
          description: The number of results to return per page.
          example: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        examples:
          single_entity:
            summary: Select fields for a single entity
            value: "id,display_name"
          list_of_entities:
            summary: Select fields for a list of entities
            value: "id,doi,display_name"
        explode: true
        in: query
        name: select
        required: false
        schema:
          description: Comma-separated list of fields to return in the results. Only
            root-level fields can be selected.
          example: "id,doi,display_name"
          type: string
        style: form
      - description: |
          Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

          You can group by most of the same properties that you can filter by.

          To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

          Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

          The response will contain:
          - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
          - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
          - `count`: The number of entities in the group.
        example: authorships.institutions.id
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          description: |
            The property to group by. Can be any filterable property.
            Optionally followed by `:include_unknown` to include the "unknown" group.
          pattern: "^[a-z_.]+(:[a-z_]+)?$"
          type: string
        style: form
      - description: Get a random sample of results
        example: 25
        explode: true
        in: query
        name: sample
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAuthors_200_response'
          description: Successful response
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests
      summary: List Authors
  /concepts:
    get:
      description: Returns a list of concepts.
      operationId: listConcepts
      parameters:
      - description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        examples:
          single_filter:
            summary: Filter works by type
            value: type:book
          multiple_filters:
            summary: Filter works by type and citation count
            value: "type:book,cited_by_count:>1"
          negation:
            summary: Filter institutions not in the US
            value: country_code:!us
          intersection:
            summary: Filter works with authors from France and UK
            value: institutions.country_code:fr+gb
          addition:
            summary: Filter works with authors from France or UK
            value: institutions.country_code:fr|gb
        explode: true
        in: query
        name: filter
        required: false
        schema:
          description: |
            Filters narrow the list down to just entities that meet particular conditions.
            Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
          example: "type:book,cited_by_count:>1,is_oa:true"
          type: string
        style: form
      - description: Text search query string to find entities that match the given
          text.
        examples:
          simple_search:
            summary: Simple search query
            value: dna
          boolean_search:
            summary: Boolean search query
            value: (elmo AND "sesame street") NOT (cookie OR monster)
          exact_phrase:
            summary: Exact phrase search
            value: fierce creatures
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
          Append ':desc' to sort in descending order. Default sort direction is ascending.
        examples:
          single_sort:
            summary: Sort by cited_by_count in descending order
            value: cited_by_count:desc
          multiple_sort:
            summary: Sort by publication year (descending) then by relevance score
              (descending)
            value: "publication_year:desc,relevance_score:desc"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Comma-separated list of fields to sort by. Append ':desc' for descending order.
            Available sort properties (where they exist):
            * display_name
            * cited_by_count
            * works_count
            * publication_date
            * relevance_score (only when a search filter is active)
          example: "cited_by_count:desc,publication_date"
          type: string
        style: form
      - description: The page number of results to return. Used for basic paging.
        examples:
          default_page:
            summary: Default first page
            value: 1
          second_page:
            summary: Second page of results
            value: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number of results to return. Used for basic paging.
          example: 2
          minimum: 1
          type: integer
        style: form
      - description: "The number of results to return per page. Minimum is 1, maximum\
          \ is 200, default is 25."
        examples:
          default:
            summary: Default number of results per page
            value: 25
          maximum:
            summary: Maximum number of results per page
            value: 200
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          default: 25
          description: The number of results to return per page.
          example: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        examples:
          single_entity:
            summary: Select fields for a single entity
            value: "id,display_name"
          list_of_entities:
            summary: Select fields for a list of entities
            value: "id,doi,display_name"
        explode: true
        in: query
        name: select
        required: false
        schema:
          description: Comma-separated list of fields to return in the results. Only
            root-level fields can be selected.
          example: "id,doi,display_name"
          type: string
        style: form
      - description: |
          Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

          You can group by most of the same properties that you can filter by.

          To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

          Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

          The response will contain:
          - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
          - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
          - `count`: The number of entities in the group.
        example: authorships.institutions.id
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          description: |
            The property to group by. Can be any filterable property.
            Optionally followed by `:include_unknown` to include the "unknown" group.
          pattern: "^[a-z_.]+(:[a-z_]+)?$"
          type: string
        style: form
      - description: Get a random sample of results
        example: 10
        explode: true
        in: query
        name: sample
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listConcepts_200_response'
          description: Successful response
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests
      summary: List Concepts
  /funders:
    get:
      description: Returns a list of funders.
      operationId: listFunders
      parameters:
      - description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        examples:
          single_filter:
            summary: Filter works by type
            value: type:book
          multiple_filters:
            summary: Filter works by type and citation count
            value: "type:book,cited_by_count:>1"
          negation:
            summary: Filter institutions not in the US
            value: country_code:!us
          intersection:
            summary: Filter works with authors from France and UK
            value: institutions.country_code:fr+gb
          addition:
            summary: Filter works with authors from France or UK
            value: institutions.country_code:fr|gb
        explode: true
        in: query
        name: filter
        required: false
        schema:
          description: |
            Filters narrow the list down to just entities that meet particular conditions.
            Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
          example: "type:book,cited_by_count:>1,is_oa:true"
          type: string
        style: form
      - description: Text search query string to find entities that match the given
          text.
        examples:
          simple_search:
            summary: Simple search query
            value: dna
          boolean_search:
            summary: Boolean search query
            value: (elmo AND "sesame street") NOT (cookie OR monster)
          exact_phrase:
            summary: Exact phrase search
            value: fierce creatures
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
          Append ':desc' to sort in descending order. Default sort direction is ascending.
        examples:
          single_sort:
            summary: Sort by cited_by_count in descending order
            value: cited_by_count:desc
          multiple_sort:
            summary: Sort by publication year (descending) then by relevance score
              (descending)
            value: "publication_year:desc,relevance_score:desc"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Comma-separated list of fields to sort by. Append ':desc' for descending order.
            Available sort properties (where they exist):
            * display_name
            * cited_by_count
            * works_count
            * publication_date
            * relevance_score (only when a search filter is active)
          example: "cited_by_count:desc,publication_date"
          type: string
        style: form
      - description: The page number of results to return. Used for basic paging.
        examples:
          default_page:
            summary: Default first page
            value: 1
          second_page:
            summary: Second page of results
            value: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number of results to return. Used for basic paging.
          example: 2
          minimum: 1
          type: integer
        style: form
      - description: "The number of results to return per page. Minimum is 1, maximum\
          \ is 200, default is 25."
        examples:
          default:
            summary: Default number of results per page
            value: 25
          maximum:
            summary: Maximum number of results per page
            value: 200
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          default: 25
          description: The number of results to return per page.
          example: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        examples:
          single_entity:
            summary: Select fields for a single entity
            value: "id,display_name"
          list_of_entities:
            summary: Select fields for a list of entities
            value: "id,doi,display_name"
        explode: true
        in: query
        name: select
        required: false
        schema:
          description: Comma-separated list of fields to return in the results. Only
            root-level fields can be selected.
          example: "id,doi,display_name"
          type: string
        style: form
      - description: |
          Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

          You can group by most of the same properties that you can filter by.

          To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

          Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

          The response will contain:
          - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
          - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
          - `count`: The number of entities in the group.
        example: authorships.institutions.id
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          description: |
            The property to group by. Can be any filterable property.
            Optionally followed by `:include_unknown` to include the "unknown" group.
          pattern: "^[a-z_.]+(:[a-z_]+)?$"
          type: string
        style: form
      - description: Get a random sample of results
        example: 10
        explode: true
        in: query
        name: sample
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listFunders_200_response'
          description: Successful response
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests
      summary: List Funders
  /institutions:
    get:
      description: Returns a list of institutions.
      operationId: listInstitutions
      parameters:
      - description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        examples:
          single_filter:
            summary: Filter works by type
            value: type:book
          multiple_filters:
            summary: Filter works by type and citation count
            value: "type:book,cited_by_count:>1"
          negation:
            summary: Filter institutions not in the US
            value: country_code:!us
          intersection:
            summary: Filter works with authors from France and UK
            value: institutions.country_code:fr+gb
          addition:
            summary: Filter works with authors from France or UK
            value: institutions.country_code:fr|gb
        explode: true
        in: query
        name: filter
        required: false
        schema:
          description: |
            Filters narrow the list down to just entities that meet particular conditions.
            Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
          example: "type:book,cited_by_count:>1,is_oa:true"
          type: string
        style: form
      - description: Text search query string to find entities that match the given
          text.
        examples:
          simple_search:
            summary: Simple search query
            value: dna
          boolean_search:
            summary: Boolean search query
            value: (elmo AND "sesame street") NOT (cookie OR monster)
          exact_phrase:
            summary: Exact phrase search
            value: fierce creatures
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
          Append ':desc' to sort in descending order. Default sort direction is ascending.
        examples:
          single_sort:
            summary: Sort by cited_by_count in descending order
            value: cited_by_count:desc
          multiple_sort:
            summary: Sort by publication year (descending) then by relevance score
              (descending)
            value: "publication_year:desc,relevance_score:desc"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Comma-separated list of fields to sort by. Append ':desc' for descending order.
            Available sort properties (where they exist):
            * display_name
            * cited_by_count
            * works_count
            * publication_date
            * relevance_score (only when a search filter is active)
          example: "cited_by_count:desc,publication_date"
          type: string
        style: form
      - description: The page number of results to return. Used for basic paging.
        examples:
          default_page:
            summary: Default first page
            value: 1
          second_page:
            summary: Second page of results
            value: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number of results to return. Used for basic paging.
          example: 2
          minimum: 1
          type: integer
        style: form
      - description: "The number of results to return per page. Minimum is 1, maximum\
          \ is 200, default is 25."
        examples:
          default:
            summary: Default number of results per page
            value: 25
          maximum:
            summary: Maximum number of results per page
            value: 200
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          default: 25
          description: The number of results to return per page.
          example: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        examples:
          single_entity:
            summary: Select fields for a single entity
            value: "id,display_name"
          list_of_entities:
            summary: Select fields for a list of entities
            value: "id,doi,display_name"
        explode: true
        in: query
        name: select
        required: false
        schema:
          description: Comma-separated list of fields to return in the results. Only
            root-level fields can be selected.
          example: "id,doi,display_name"
          type: string
        style: form
      - description: |
          Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

          You can group by most of the same properties that you can filter by.

          To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

          Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

          The response will contain:
          - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
          - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
          - `count`: The number of entities in the group.
        example: authorships.institutions.id
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          description: |
            The property to group by. Can be any filterable property.
            Optionally followed by `:include_unknown` to include the "unknown" group.
          pattern: "^[a-z_.]+(:[a-z_]+)?$"
          type: string
        style: form
      - description: Get a random sample of results
        example: 10
        explode: true
        in: query
        name: sample
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listInstitutions_200_response'
          description: Successful response
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests
      summary: List Institutions
  /keywords:
    get:
      description: Returns a list of keywords.
      operationId: listKeywords
      parameters:
      - description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        examples:
          single_filter:
            summary: Filter works by type
            value: type:book
          multiple_filters:
            summary: Filter works by type and citation count
            value: "type:book,cited_by_count:>1"
          negation:
            summary: Filter institutions not in the US
            value: country_code:!us
          intersection:
            summary: Filter works with authors from France and UK
            value: institutions.country_code:fr+gb
          addition:
            summary: Filter works with authors from France or UK
            value: institutions.country_code:fr|gb
        explode: true
        in: query
        name: filter
        required: false
        schema:
          description: |
            Filters narrow the list down to just entities that meet particular conditions.
            Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
          example: "type:book,cited_by_count:>1,is_oa:true"
          type: string
        style: form
      - description: Text search query string to find entities that match the given
          text.
        examples:
          simple_search:
            summary: Simple search query
            value: dna
          boolean_search:
            summary: Boolean search query
            value: (elmo AND "sesame street") NOT (cookie OR monster)
          exact_phrase:
            summary: Exact phrase search
            value: fierce creatures
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
          Append ':desc' to sort in descending order. Default sort direction is ascending.
        examples:
          single_sort:
            summary: Sort by cited_by_count in descending order
            value: cited_by_count:desc
          multiple_sort:
            summary: Sort by publication year (descending) then by relevance score
              (descending)
            value: "publication_year:desc,relevance_score:desc"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Comma-separated list of fields to sort by. Append ':desc' for descending order.
            Available sort properties (where they exist):
            * display_name
            * cited_by_count
            * works_count
            * publication_date
            * relevance_score (only when a search filter is active)
          example: "cited_by_count:desc,publication_date"
          type: string
        style: form
      - description: The page number of results to return. Used for basic paging.
        examples:
          default_page:
            summary: Default first page
            value: 1
          second_page:
            summary: Second page of results
            value: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number of results to return. Used for basic paging.
          example: 2
          minimum: 1
          type: integer
        style: form
      - description: "The number of results to return per page. Minimum is 1, maximum\
          \ is 200, default is 25."
        examples:
          default:
            summary: Default number of results per page
            value: 25
          maximum:
            summary: Maximum number of results per page
            value: 200
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          default: 25
          description: The number of results to return per page.
          example: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        examples:
          single_entity:
            summary: Select fields for a single entity
            value: "id,display_name"
          list_of_entities:
            summary: Select fields for a list of entities
            value: "id,doi,display_name"
        explode: true
        in: query
        name: select
        required: false
        schema:
          description: Comma-separated list of fields to return in the results. Only
            root-level fields can be selected.
          example: "id,doi,display_name"
          type: string
        style: form
      - description: |
          Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

          You can group by most of the same properties that you can filter by.

          To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

          Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

          The response will contain:
          - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
          - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
          - `count`: The number of entities in the group.
        example: authorships.institutions.id
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          description: |
            The property to group by. Can be any filterable property.
            Optionally followed by `:include_unknown` to include the "unknown" group.
          pattern: "^[a-z_.]+(:[a-z_]+)?$"
          type: string
        style: form
      - description: Get a random sample of results
        example: 10
        explode: true
        in: query
        name: sample
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listKeywords_200_response'
          description: Successful response
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests
      summary: List Keywords
  /publishers:
    get:
      description: Returns a list of publishers.
      operationId: listPublishers
      parameters:
      - description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        examples:
          single_filter:
            summary: Filter works by type
            value: type:book
          multiple_filters:
            summary: Filter works by type and citation count
            value: "type:book,cited_by_count:>1"
          negation:
            summary: Filter institutions not in the US
            value: country_code:!us
          intersection:
            summary: Filter works with authors from France and UK
            value: institutions.country_code:fr+gb
          addition:
            summary: Filter works with authors from France or UK
            value: institutions.country_code:fr|gb
        explode: true
        in: query
        name: filter
        required: false
        schema:
          description: |
            Filters narrow the list down to just entities that meet particular conditions.
            Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
          example: "type:book,cited_by_count:>1,is_oa:true"
          type: string
        style: form
      - description: Text search query string to find entities that match the given
          text.
        examples:
          simple_search:
            summary: Simple search query
            value: dna
          boolean_search:
            summary: Boolean search query
            value: (elmo AND "sesame street") NOT (cookie OR monster)
          exact_phrase:
            summary: Exact phrase search
            value: fierce creatures
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
          Append ':desc' to sort in descending order. Default sort direction is ascending.
        examples:
          single_sort:
            summary: Sort by cited_by_count in descending order
            value: cited_by_count:desc
          multiple_sort:
            summary: Sort by publication year (descending) then by relevance score
              (descending)
            value: "publication_year:desc,relevance_score:desc"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Comma-separated list of fields to sort by. Append ':desc' for descending order.
            Available sort properties (where they exist):
            * display_name
            * cited_by_count
            * works_count
            * publication_date
            * relevance_score (only when a search filter is active)
          example: "cited_by_count:desc,publication_date"
          type: string
        style: form
      - description: The page number of results to return. Used for basic paging.
        examples:
          default_page:
            summary: Default first page
            value: 1
          second_page:
            summary: Second page of results
            value: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number of results to return. Used for basic paging.
          example: 2
          minimum: 1
          type: integer
        style: form
      - description: "The number of results to return per page. Minimum is 1, maximum\
          \ is 200, default is 25."
        examples:
          default:
            summary: Default number of results per page
            value: 25
          maximum:
            summary: Maximum number of results per page
            value: 200
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          default: 25
          description: The number of results to return per page.
          example: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        examples:
          single_entity:
            summary: Select fields for a single entity
            value: "id,display_name"
          list_of_entities:
            summary: Select fields for a list of entities
            value: "id,doi,display_name"
        explode: true
        in: query
        name: select
        required: false
        schema:
          description: Comma-separated list of fields to return in the results. Only
            root-level fields can be selected.
          example: "id,doi,display_name"
          type: string
        style: form
      - description: |
          Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

          You can group by most of the same properties that you can filter by.

          To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

          Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

          The response will contain:
          - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
          - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
          - `count`: The number of entities in the group.
        example: authorships.institutions.id
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          description: |
            The property to group by. Can be any filterable property.
            Optionally followed by `:include_unknown` to include the "unknown" group.
          pattern: "^[a-z_.]+(:[a-z_]+)?$"
          type: string
        style: form
      - description: Get a random sample of results
        example: 10
        explode: true
        in: query
        name: sample
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listPublishers_200_response'
          description: Successful response
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests
      summary: List Publishers
  /sources:
    get:
      description: "Returns a list of sources. Sources are where works are hosted,\
        \ including journals, conferences, preprint repositories, and institutional\
        \ repositories."
      operationId: listSources
      parameters:
      - description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        examples:
          single_filter:
            summary: Filter works by type
            value: type:book
          multiple_filters:
            summary: Filter works by type and citation count
            value: "type:book,cited_by_count:>1"
          negation:
            summary: Filter institutions not in the US
            value: country_code:!us
          intersection:
            summary: Filter works with authors from France and UK
            value: institutions.country_code:fr+gb
          addition:
            summary: Filter works with authors from France or UK
            value: institutions.country_code:fr|gb
        explode: true
        in: query
        name: filter
        required: false
        schema:
          description: |
            Filters narrow the list down to just entities that meet particular conditions.
            Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
          example: "type:book,cited_by_count:>1,is_oa:true"
          type: string
        style: form
      - description: Text search query string to find entities that match the given
          text.
        examples:
          simple_search:
            summary: Simple search query
            value: dna
          boolean_search:
            summary: Boolean search query
            value: (elmo AND "sesame street") NOT (cookie OR monster)
          exact_phrase:
            summary: Exact phrase search
            value: fierce creatures
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
          Append ':desc' to sort in descending order. Default sort direction is ascending.
        examples:
          single_sort:
            summary: Sort by cited_by_count in descending order
            value: cited_by_count:desc
          multiple_sort:
            summary: Sort by publication year (descending) then by relevance score
              (descending)
            value: "publication_year:desc,relevance_score:desc"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Comma-separated list of fields to sort by. Append ':desc' for descending order.
            Available sort properties (where they exist):
            * display_name
            * cited_by_count
            * works_count
            * publication_date
            * relevance_score (only when a search filter is active)
          example: "cited_by_count:desc,publication_date"
          type: string
        style: form
      - description: The page number of results to return. Used for basic paging.
        examples:
          default_page:
            summary: Default first page
            value: 1
          second_page:
            summary: Second page of results
            value: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number of results to return. Used for basic paging.
          example: 2
          minimum: 1
          type: integer
        style: form
      - description: "The number of results to return per page. Minimum is 1, maximum\
          \ is 200, default is 25."
        examples:
          default:
            summary: Default number of results per page
            value: 25
          maximum:
            summary: Maximum number of results per page
            value: 200
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          default: 25
          description: The number of results to return per page.
          example: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        examples:
          single_entity:
            summary: Select fields for a single entity
            value: "id,display_name"
          list_of_entities:
            summary: Select fields for a list of entities
            value: "id,doi,display_name"
        explode: true
        in: query
        name: select
        required: false
        schema:
          description: Comma-separated list of fields to return in the results. Only
            root-level fields can be selected.
          example: "id,doi,display_name"
          type: string
        style: form
      - description: |
          Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

          You can group by most of the same properties that you can filter by.

          To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

          Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

          The response will contain:
          - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
          - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
          - `count`: The number of entities in the group.
        example: authorships.institutions.id
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          description: |
            The property to group by. Can be any filterable property.
            Optionally followed by `:include_unknown` to include the "unknown" group.
          pattern: "^[a-z_.]+(:[a-z_]+)?$"
          type: string
        style: form
      - description: Get a random sample of results
        example: 10
        explode: true
        in: query
        name: sample
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSources_200_response'
          description: Successful response
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests
      summary: List Sources
  /topics:
    get:
      description: Returns a list of topics.
      operationId: listTopics
      parameters:
      - description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        examples:
          single_filter:
            summary: Filter works by type
            value: type:book
          multiple_filters:
            summary: Filter works by type and citation count
            value: "type:book,cited_by_count:>1"
          negation:
            summary: Filter institutions not in the US
            value: country_code:!us
          intersection:
            summary: Filter works with authors from France and UK
            value: institutions.country_code:fr+gb
          addition:
            summary: Filter works with authors from France or UK
            value: institutions.country_code:fr|gb
        explode: true
        in: query
        name: filter
        required: false
        schema:
          description: |
            Filters narrow the list down to just entities that meet particular conditions.
            Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
          example: "type:book,cited_by_count:>1,is_oa:true"
          type: string
        style: form
      - description: Text search query string to find entities that match the given
          text.
        examples:
          simple_search:
            summary: Simple search query
            value: dna
          boolean_search:
            summary: Boolean search query
            value: (elmo AND "sesame street") NOT (cookie OR monster)
          exact_phrase:
            summary: Exact phrase search
            value: fierce creatures
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
          Append ':desc' to sort in descending order. Default sort direction is ascending.
        examples:
          single_sort:
            summary: Sort by cited_by_count in descending order
            value: cited_by_count:desc
          multiple_sort:
            summary: Sort by publication year (descending) then by relevance score
              (descending)
            value: "publication_year:desc,relevance_score:desc"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Comma-separated list of fields to sort by. Append ':desc' for descending order.
            Available sort properties (where they exist):
            * display_name
            * cited_by_count
            * works_count
            * publication_date
            * relevance_score (only when a search filter is active)
          example: "cited_by_count:desc,publication_date"
          type: string
        style: form
      - description: The page number of results to return. Used for basic paging.
        examples:
          default_page:
            summary: Default first page
            value: 1
          second_page:
            summary: Second page of results
            value: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number of results to return. Used for basic paging.
          example: 2
          minimum: 1
          type: integer
        style: form
      - description: "The number of results to return per page. Minimum is 1, maximum\
          \ is 200, default is 25."
        examples:
          default:
            summary: Default number of results per page
            value: 25
          maximum:
            summary: Maximum number of results per page
            value: 200
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          default: 25
          description: The number of results to return per page.
          example: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        examples:
          single_entity:
            summary: Select fields for a single entity
            value: "id,display_name"
          list_of_entities:
            summary: Select fields for a list of entities
            value: "id,doi,display_name"
        explode: true
        in: query
        name: select
        required: false
        schema:
          description: Comma-separated list of fields to return in the results. Only
            root-level fields can be selected.
          example: "id,doi,display_name"
          type: string
        style: form
      - description: |
          Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

          You can group by most of the same properties that you can filter by.

          To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

          Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

          The response will contain:
          - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
          - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
          - `count`: The number of entities in the group.
        example: authorships.institutions.id
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          description: |
            The property to group by. Can be any filterable property.
            Optionally followed by `:include_unknown` to include the "unknown" group.
          pattern: "^[a-z_.]+(:[a-z_]+)?$"
          type: string
        style: form
      - description: Get a random sample of results
        example: 10
        explode: true
        in: query
        name: sample
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listTopics_200_response'
          description: Successful response
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests
      summary: List Topics
  /works:
    get:
      description: Returns a list of works.
      operationId: listWorks
      parameters:
      - description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        examples:
          single_filter:
            summary: Filter works by type
            value: type:book
          multiple_filters:
            summary: Filter works by type and citation count
            value: "type:book,cited_by_count:>1"
          negation:
            summary: Filter institutions not in the US
            value: country_code:!us
          intersection:
            summary: Filter works with authors from France and UK
            value: institutions.country_code:fr+gb
          addition:
            summary: Filter works with authors from France or UK
            value: institutions.country_code:fr|gb
        explode: true
        in: query
        name: filter
        required: false
        schema:
          description: |
            Filters narrow the list down to just entities that meet particular conditions.
            Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
          example: "type:book,cited_by_count:>1,is_oa:true"
          type: string
        style: form
      - description: Text search query string to find entities that match the given
          text.
        examples:
          simple_search:
            summary: Simple search query
            value: dna
          boolean_search:
            summary: Boolean search query
            value: (elmo AND "sesame street") NOT (cookie OR monster)
          exact_phrase:
            summary: Exact phrase search
            value: fierce creatures
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |
          Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
          Append ':desc' to sort in descending order. Default sort direction is ascending.
        examples:
          single_sort:
            summary: Sort by cited_by_count in descending order
            value: cited_by_count:desc
          multiple_sort:
            summary: Sort by publication year (descending) then by relevance score
              (descending)
            value: "publication_year:desc,relevance_score:desc"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Comma-separated list of fields to sort by. Append ':desc' for descending order.
            Available sort properties (where they exist):
            * display_name
            * cited_by_count
            * works_count
            * publication_date
            * relevance_score (only when a search filter is active)
          example: "cited_by_count:desc,publication_date"
          type: string
        style: form
      - description: The page number of results to return. Used for basic paging.
        examples:
          default_page:
            summary: Default first page
            value: 1
          second_page:
            summary: Second page of results
            value: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: The page number of results to return. Used for basic paging.
          example: 2
          minimum: 1
          type: integer
        style: form
      - description: "The number of results to return per page. Minimum is 1, maximum\
          \ is 200, default is 25."
        examples:
          default:
            summary: Default number of results per page
            value: 25
          maximum:
            summary: Maximum number of results per page
            value: 200
        explode: true
        in: query
        name: per-page
        required: false
        schema:
          default: 25
          description: The number of results to return per page.
          example: 50
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        examples:
          single_entity:
            summary: Select fields for a single entity
            value: "id,display_name"
          list_of_entities:
            summary: Select fields for a list of entities
            value: "id,doi,display_name"
        explode: true
        in: query
        name: select
        required: false
        schema:
          description: Comma-separated list of fields to return in the results. Only
            root-level fields can be selected.
          example: "id,doi,display_name"
          type: string
        style: form
      - description: |
          Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

          You can group by most of the same properties that you can filter by.

          To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

          Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

          The response will contain:
          - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
          - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
          - `count`: The number of entities in the group.
        example: authorships.institutions.id
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          description: |
            The property to group by. Can be any filterable property.
            Optionally followed by `:include_unknown` to include the "unknown" group.
          pattern: "^[a-z_.]+(:[a-z_]+)?$"
          type: string
        style: form
      - description: Get a random sample of results
        example: 10
        explode: true
        in: query
        name: sample
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listWorks_200_response'
          description: Successful response
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "429":
          description: Too many requests
      summary: List Works
  /autocomplete/{entity_type}:
    get:
      description: Returns a list of entities that match the given query string for
        autocomplete suggestions.
      operationId: autocompleteEntities
      parameters:
      - explode: false
        in: path
        name: entity_type
        required: true
        schema:
          enum:
          - authors
          - concepts
          - funders
          - institutions
          - publishers
          - sources
          - topics
          - works
          type: string
        style: simple
      - $ref: '#/components/parameters/autocomplete'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autocomplete'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autocompleteEntities_400_response'
          description: Bad Request
      summary: Autocomplete entities
components:
  parameters:
    filter:
      description: |
        Filters narrow the list down to just entities that meet particular conditions.
        Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
      examples:
        single_filter:
          summary: Filter works by type
          value: type:book
        multiple_filters:
          summary: Filter works by type and citation count
          value: "type:book,cited_by_count:>1"
        negation:
          summary: Filter institutions not in the US
          value: country_code:!us
        intersection:
          summary: Filter works with authors from France and UK
          value: institutions.country_code:fr+gb
        addition:
          summary: Filter works with authors from France or UK
          value: institutions.country_code:fr|gb
      explode: true
      in: query
      name: filter
      required: false
      schema:
        description: |
          Filters narrow the list down to just entities that meet particular conditions.
          Multiple filters can be combined using commas. Filters support logical expressions including inequality, negation, intersection, and addition.
        example: "type:book,cited_by_count:>1,is_oa:true"
        type: string
      style: form
    search:
      description: Text search query string to find entities that match the given
        text.
      examples:
        simple_search:
          summary: Simple search query
          value: dna
        boolean_search:
          summary: Boolean search query
          value: (elmo AND "sesame street") NOT (cookie OR monster)
        exact_phrase:
          summary: Exact phrase search
          value: fierce creatures
      explode: true
      in: query
      name: search
      required: false
      schema:
        type: string
      style: form
    sort:
      description: |
        Specify the property to sort the results by. Multiple sort keys can be provided, separated by commas.
        Append ':desc' to sort in descending order. Default sort direction is ascending.
      examples:
        single_sort:
          summary: Sort by cited_by_count in descending order
          value: cited_by_count:desc
        multiple_sort:
          summary: Sort by publication year (descending) then by relevance score (descending)
          value: "publication_year:desc,relevance_score:desc"
      explode: true
      in: query
      name: sort
      required: false
      schema:
        description: |
          Comma-separated list of fields to sort by. Append ':desc' for descending order.
          Available sort properties (where they exist):
          * display_name
          * cited_by_count
          * works_count
          * publication_date
          * relevance_score (only when a search filter is active)
        example: "cited_by_count:desc,publication_date"
        type: string
      style: form
    page:
      description: The page number of results to return. Used for basic paging.
      examples:
        default_page:
          summary: Default first page
          value: 1
        second_page:
          summary: Second page of results
          value: 2
      explode: true
      in: query
      name: page
      required: false
      schema:
        default: 1
        description: The page number of results to return. Used for basic paging.
        example: 2
        minimum: 1
        type: integer
      style: form
    per_page:
      description: "The number of results to return per page. Minimum is 1, maximum\
        \ is 200, default is 25."
      examples:
        default:
          summary: Default number of results per page
          value: 25
        maximum:
          summary: Maximum number of results per page
          value: 200
      explode: true
      in: query
      name: per-page
      required: false
      schema:
        default: 25
        description: The number of results to return per page.
        example: 50
        maximum: 200
        minimum: 1
        type: integer
      style: form
    select:
      description: Comma-separated list of fields to return in the results. Only root-level
        fields can be selected.
      examples:
        single_entity:
          summary: Select fields for a single entity
          value: "id,display_name"
        list_of_entities:
          summary: Select fields for a list of entities
          value: "id,doi,display_name"
      explode: true
      in: query
      name: select
      required: false
      schema:
        description: Comma-separated list of fields to return in the results. Only
          root-level fields can be selected.
        example: "id,doi,display_name"
        type: string
      style: form
    group_by:
      description: |
        Groups the results by a specified property. The response will include a `group_by` object with counts for each group.

        You can group by most of the same properties that you can filter by.

        To include the "unknown" group in the response, add `:include_unknown` after the group-by parameter.

        Example: `group_by=authorships.institutions.id` or `group_by=authorships.institutions.id:include_unknown`

        The response will contain:
        - `key`: The OpenAlex ID or raw value of the `group_by` parameter for members of this group.
        - `key_display_name`: The `display_name` or raw value of the `group_by` parameter for members of this group.
        - `count`: The number of entities in the group.
      example: authorships.institutions.id
      explode: true
      in: query
      name: group_by
      required: false
      schema:
        description: |
          The property to group by. Can be any filterable property.
          Optionally followed by `:include_unknown` to include the "unknown" group.
        pattern: "^[a-z_.]+(:[a-z_]+)?$"
        type: string
      style: form
    autocomplete:
      description: |
        The search string supplied by the user for autocomplete suggestions.

        Additional parameters:
        - filter: Optional filter to apply to the autocomplete results. Uses the same syntax as entity filters.
        - search: Optional search query to apply to the autocomplete results. Uses the same syntax as entity search.
      examples:
        simple_query:
          summary: Simple autocomplete query
          value: flori
        with_filter:
          summary: Autocomplete query with filter
          value: flori&filter=publication_year:2010
        with_search:
          summary: Autocomplete query with search
          value: flori&search=frogs
      explode: true
      in: query
      name: q
      required: true
      schema:
        type: string
      style: form
    cursor:
      description: |
        A cursor value for paginating through results. Use '*' to start cursor pagination, or use the 'next_cursor' value from the previous response to get the next page.

        Warning: Don't use cursor paging to download the whole dataset. It's inefficient and puts a massive load on the servers. Instead, use the OpenAlex snapshot for downloading all data at once.
      examples:
        start_cursor:
          summary: Start cursor pagination
          value: '*'
        next_page:
          summary: Get the next page of results
          value: IlsxNjA5MzcyODAwMDAwLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzI0ODg0OTk3NjQnXSI=
      explode: true
      in: query
      name: cursor
      required: false
      schema:
        description: "A cursor value for paginating through results. Use '*' to start\
          \ cursor pagination, or use the 'next_cursor' value from the previous response\
          \ to get the next page."
        example: '*'
        type: string
      style: form
  schemas:
    Autocomplete:
      example:
        meta:
          count: 183
          db_response_time_ms: 5
          page: 1
          per_page: 10
        results:
        - id: https://openalex.org/I33213144
          display_name: University of Florida
          hint: "Gainesville, USA"
          cited_by_count: 17190001
          entity_type: institution
          external_id: https://ror.org/02y3ad647
          works_count: 456789
      properties:
        meta:
          $ref: '#/components/schemas/Autocomplete_meta'
        results:
          description: "A list of up to ten autocomplete results for the query, sorted\
            \ by citation count."
          items:
            $ref: '#/components/schemas/Autocomplete_results_inner'
          type: array
    listAuthors_200_response_meta:
      description: Metadata about the API response
      example:
        count: 246136992
        db_response_time_ms: 271
        page: 1
        per_page: 200
        groups_count: 15
      properties:
        count:
          description: The total number of entities (this will be all entities if
            no filter is applied)
          type: integer
        db_response_time_ms:
          description: "The time taken by the database to respond, in milliseconds"
          type: integer
        page:
          description: The current page number
          type: integer
        per_page:
          description: The number of results per page
          type: integer
        groups_count:
          description: The count of groups in the current page (null if there are
            no groups in the response)
          nullable: true
          type: integer
    listAuthors_200_response_results_inner_affiliations_inner_institution:
      description: "A simplified representation of an institution, used when an institution\
        \ is referenced by another entity."
      example:
        lineage:
        - https://openalex.org/I114027177
        country_code: US
        ror: https://ror.org/00jmfr291
        id: https://openalex.org/I114027177
        display_name: University of North Carolina at Chapel Hill
        type: education
      properties:
        id:
          description: The OpenAlex ID for this institution.
          example: https://openalex.org/I114027177
          type: string
        display_name:
          description: The primary name of the institution.
          example: University of North Carolina at Chapel Hill
          type: string
        ror:
          description: The ROR ID for this institution.
          example: https://ror.org/00jmfr291
          type: string
        country_code:
          description: "The country where this institution is located, represented\
            \ as an ISO two-letter country code."
          example: US
          type: string
        type:
          description: "The institution's primary type, using the ROR \"type\" controlled\
            \ vocabulary."
          enum:
          - education
          - healthcare
          - company
          - archive
          - nonprofit
          - government
          - facility
          - other
          example: education
          type: string
        lineage:
          description: OpenAlex IDs of this institution and its parent institutions.
          example:
          - https://openalex.org/I114027177
          items:
            type: string
          type: array
      required:
      - display_name
      - id
      - type
    listAuthors_200_response_results_inner_affiliations_inner:
      properties:
        institution:
          $ref: '#/components/schemas/listAuthors_200_response_results_inner_affiliations_inner_institution'
        years:
          items:
            type: integer
          type: array
    listAuthors_200_response_results_inner_counts_by_year_inner:
      properties:
        year:
          type: integer
        works_count:
          type: integer
        cited_by_count:
          type: integer
    listAuthors_200_response_results_inner_ids:
      description: All the external identifiers that we know about for this author.
      example:
        openalex: https://openalex.org/A5023888391
        orcid: https://orcid.org/0000-0001-6187-6610
        scopus: http://www.scopus.com/inward/authorDetails.url?authorID=36455008000&partnerID=MN8TOARS
      properties:
        openalex:
          type: string
        orcid:
          type: string
        scopus:
          type: string
        twitter:
          type: string
        wikipedia:
          type: string
    listAuthors_200_response_results_inner_last_known_institution:
      description: This author's last known institutional affiliation (deprecated).
      example:
        lineage:
        - https://openalex.org/I114027177
        country_code: US
        ror: https://ror.org/00jmfr291
        id: https://openalex.org/I114027177
        display_name: University of North Carolina at Chapel Hill
        type: education
      properties:
        id:
          description: The OpenAlex ID for this institution.
          example: https://openalex.org/I114027177
          type: string
        display_name:
          description: The primary name of the institution.
          example: University of North Carolina at Chapel Hill
          type: string
        ror:
          description: The ROR ID for this institution.
          example: https://ror.org/00jmfr291
          type: string
        country_code:
          description: "The country where this institution is located, represented\
            \ as an ISO two-letter country code."
          example: US
          type: string
        type:
          description: "The institution's primary type, using the ROR \"type\" controlled\
            \ vocabulary."
          enum:
          - education
          - healthcare
          - company
          - archive
          - nonprofit
          - government
          - facility
          - other
          example: education
          type: string
        lineage:
          description: OpenAlex IDs of this institution and its parent institutions.
          example:
          - https://openalex.org/I114027177
          items:
            type: string
          type: array
      required:
      - display_name
      - id
      - type
    listAuthors_200_response_results_inner_summary_stats:
      description: Citation metrics for this author.
      example:
        "2yr_mean_citedness": 1.5295340589458237
        h_index: 45
        i10_index: 205
      properties:
        "2yr_mean_citedness":
          format: float
          type: number
        h_index:
          type: integer
        i10_index:
          type: integer
    listAuthors_200_response_results_inner:
      example:
        x_concepts:
        - id: https://openalex.org/C41008148
          wikidata: null
          display_name: Computer science
          level: 0
          score: 97.4
        - id: https://openalex.org/C17744445
          wikidata: null
          display_name: Political science
          level: 0
          score: 78.9
        cited_by_count: 38
        display_name_alternatives:
        - Jason R Priem
        counts_by_year:
        - year: 2022
          works_count: 0
          cited_by_count: 8
        - year: 2021
          works_count: 1
          cited_by_count: 252
        - year: 2012
          works_count: 7
          cited_by_count: 79
        last_known_institution:
          lineage:
          - https://openalex.org/I114027177
          country_code: US
          ror: https://ror.org/00jmfr291
          id: https://openalex.org/I114027177
          display_name: University of North Carolina at Chapel Hill
          type: education
        affiliations:
        - institution:
            id: https://openalex.org/I201448701
            ror: https://ror.org/00cvxb145
          years:
          - 2018
          - 2019
          - 2020
        - institution:
            id: https://openalex.org/I74973139
            ror: https://ror.org/05x2bcf33
          years:
          - 2011
          - 2012
          - 2013
          - 2014
          - 2015
          - 2016
          - 2017
          - 2018
          - 2019
        last_known_institutions:
        - lineage:
          - https://openalex.org/I114027177
          country_code: US
          ror: https://ror.org/00jmfr291
          id: https://openalex.org/I114027177
          display_name: University of North Carolina at Chapel Hill
          type: education
        - lineage:
          - https://openalex.org/I114027177
          country_code: US
          ror: https://ror.org/00jmfr291
          id: https://openalex.org/I114027177
          display_name: University of North Carolina at Chapel Hill
          type: education
        orcid: https://orcid.org/0000-0001-6187-6610
        display_name: Jason Priem
        summary_stats:
          "2yr_mean_citedness": 1.5295340589458237
          h_index: 45
          i10_index: 205
        works_api_url: https://api.openalex.org/works?filter=author.id:A5023888391
        ids:
          openalex: https://openalex.org/A5023888391
          orcid: https://orcid.org/0000-0001-6187-6610
          scopus: http://www.scopus.com/inward/authorDetails.url?authorID=36455008000&partnerID=MN8TOARS
        created_date: 2017-08-08
        id: https://openalex.org/A5023888391
        updated_date: 2024-07-13T06:17:17.932040
        works_count: 38
      properties:
        affiliations:
          description: List of objects representing the affiliations this author has
            claimed in their publications.
          example:
          - institution:
              id: https://openalex.org/I201448701
              ror: https://ror.org/00cvxb145
            years:
            - 2018
            - 2019
            - 2020
          - institution:
              id: https://openalex.org/I74973139
              ror: https://ror.org/05x2bcf33
            years:
            - 2011
            - 2012
            - 2013
            - 2014
            - 2015
            - 2016
            - 2017
            - 2018
            - 2019
          items:
            $ref: '#/components/schemas/listAuthors_200_response_results_inner_affiliations_inner'
          type: array
        cited_by_count:
          description: The total number of Works that cite a work this author has
            created.
          example: 38
          type: integer
        counts_by_year:
          description: "Works_count and cited_by_count for each of the last ten years,\
            \ binned by year."
          example:
          - year: 2022
            works_count: 0
            cited_by_count: 8
          - year: 2021
            works_count: 1
            cited_by_count: 252
          - year: 2012
            works_count: 7
            cited_by_count: 79
          items:
            $ref: '#/components/schemas/listAuthors_200_response_results_inner_counts_by_year_inner'
          type: array
        created_date:
          description: The date this Author object was created in the OpenAlex dataset.
          example: 2017-08-08
          format: date
          type: string
        display_name:
          description: The name of the author as a single string.
          example: Jason Priem
          type: string
        display_name_alternatives:
          description: Other ways that we've found this author's name displayed.
          example:
          - Jason R Priem
          items:
            type: string
          type: array
        id:
          description: The OpenAlex ID for this author.
          example: https://openalex.org/A5023888391
          type: string
        ids:
          $ref: '#/components/schemas/listAuthors_200_response_results_inner_ids'
        last_known_institution:
          $ref: '#/components/schemas/listAuthors_200_response_results_inner_last_known_institution'
        last_known_institutions:
          description: This author's last known institutional affiliations.
          items:
            $ref: '#/components/schemas/listAuthors_200_response_results_inner_affiliations_inner_institution'
          type: array
        orcid:
          description: The ORCID ID for this author.
          example: https://orcid.org/0000-0001-6187-6610
          type: string
        summary_stats:
          $ref: '#/components/schemas/listAuthors_200_response_results_inner_summary_stats'
        updated_date:
          description: The last time anything in this author object changed. Formatted
            as ISO 8601 extended format without time zone designator.
          example: 2024-07-13T06:17:17.932040
          format: custom_date_time
          type: string
        works_api_url:
          description: A URL that will get you a list of all this author's works.
          example: https://api.openalex.org/works?filter=author.id:A5023888391
          type: string
        works_count:
          description: The number of Works this author has created.
          example: 38
          type: integer
        x_concepts:
          description: The concepts most frequently applied to works created by this
            author (deprecated).
          example:
          - id: https://openalex.org/C41008148
            wikidata: null
            display_name: Computer science
            level: 0
            score: 97.4
          - id: https://openalex.org/C17744445
            wikidata: null
            display_name: Political science
            level: 0
            score: 78.9
          items:
            description: "The Concepts most frequently applied to this entity. Each\
              \ is represented as a dehydrated Concept object, with one additional\
              \ attribute - `score` (Float)"
            items:
              allOf:
              - description: "A simplified representation of a concept, used when\
                  \ a concept is referenced by another entity."
                properties:
                  id:
                    description: The OpenAlex ID for this concept.
                    example: https://openalex.org/C41008148
                  wikidata:
                    description: The Wikidata ID for this concept.
                    example: https://www.wikidata.org/wiki/Q5
                  display_name:
                    description: The human-readable name of the concept.
                    example: Human
                  level:
                    description: "The hierarchical level of the concept. Level 0 is\
                      \ the most general, and level 5 is the most specific."
                    example: 1
                required:
                - display_name
                - id
                - level
                - wikidata
              - properties:
                  score:
                    description: "The strength of association between this source\
                      \ and the listed concept, from 0-100."
                    example: 4.56749
                    format: float
            type: object
          type: array
    listAuthors_200_response_group_by_inner:
      description: A group of entities and their count
      example:
        key: article
        key_display_name: article
        count: 202814957
      properties:
        key:
          description: The OpenAlex ID or raw value of the group_by parameter for
            members of this group
          type: string
        key_display_name:
          description: The display_name or raw value of the group_by parameter for
            members of this group
          type: string
        count:
          description: The number of entities in the group
          type: integer
    listAuthors_200_response:
      example:
        meta:
          count: 246136992
          db_response_time_ms: 271
          page: 1
          per_page: 200
          groups_count: 15
        group_by:
        - key: article
          key_display_name: article
          count: 202814957
        - key: article
          key_display_name: article
          count: 202814957
        results:
        - x_concepts:
          - id: https://openalex.org/C41008148
            wikidata: null
            display_name: Computer science
            level: 0
            score: 97.4
          - id: https://openalex.org/C17744445
            wikidata: null
            display_name: Political science
            level: 0
            score: 78.9
          cited_by_count: 38
          display_name_alternatives:
          - Jason R Priem
          counts_by_year:
          - year: 2022
            works_count: 0
            cited_by_count: 8
          - year: 2021
            works_count: 1
            cited_by_count: 252
          - year: 2012
            works_count: 7
            cited_by_count: 79
          last_known_institution:
            lineage:
            - https://openalex.org/I114027177
            country_code: US
            ror: https://ror.org/00jmfr291
            id: https://openalex.org/I114027177
            display_name: University of North Carolina at Chapel Hill
            type: education
          affiliations:
          - institution:
              id: https://openalex.org/I201448701
              ror: https://ror.org/00cvxb145
            years:
            - 2018
            - 2019
            - 2020
          - institution:
              id: https://openalex.org/I74973139
              ror: https://ror.org/05x2bcf33
            years:
            - 2011
            - 2012
            - 2013
            - 2014
            - 2015
            - 2016
            - 2017
            - 2018
            - 2019
          last_known_institutions:
          - lineage:
            - https://openalex.org/I114027177
            country_code: US
            ror: https://ror.org/00jmfr291
            id: https://openalex.org/I114027177
            display_name: University of North Carolina at Chapel Hill
            type: education
          - lineage:
            - https://openalex.org/I114027177
            country_code: US
            ror: https://ror.org/00jmfr291
            id: https://openalex.org/I114027177
            display_name: University of North Carolina at Chapel Hill
            type: education
          orcid: https://orcid.org/0000-0001-6187-6610
          display_name: Jason Priem
          summary_stats:
            "2yr_mean_citedness": 1.5295340589458237
            h_index: 45
            i10_index: 205
          works_api_url: https://api.openalex.org/works?filter=author.id:A5023888391
          ids:
            openalex: https://openalex.org/A5023888391
            orcid: https://orcid.org/0000-0001-6187-6610
            scopus: http://www.scopus.com/inward/authorDetails.url?authorID=36455008000&partnerID=MN8TOARS
          created_date: 2017-08-08
          id: https://openalex.org/A5023888391
          updated_date: 2024-07-13T06:17:17.932040
          works_count: 38
        - x_concepts:
          - id: https://openalex.org/C41008148
            wikidata: null
            display_name: Computer science
            level: 0
            score: 97.4
          - id: https://openalex.org/C17744445
            wikidata: null
            display_name: Political science
            level: 0
            score: 78.9
          cited_by_count: 38
          display_name_alternatives:
          - Jason R Priem
          counts_by_year:
          - year: 2022
            works_count: 0
            cited_by_count: 8
          - year: 2021
            works_count: 1
            cited_by_count: 252
          - year: 2012
            works_count: 7
            cited_by_count: 79
          last_known_institution:
            lineage:
            - https://openalex.org/I114027177
            country_code: US
            ror: https://ror.org/00jmfr291
            id: https://openalex.org/I114027177
            display_name: University of North Carolina at Chapel Hill
            type: education
          affiliations:
          - institution:
              id: https://openalex.org/I201448701
              ror: https://ror.org/00cvxb145
            years:
            - 2018
            - 2019
            - 2020
          - institution:
              id: https://openalex.org/I74973139
              ror: https://ror.org/05x2bcf33
            years:
            - 2011
            - 2012
            - 2013
            - 2014
            - 2015
            - 2016
            - 2017
            - 2018
            - 2019
          last_known_institutions:
          - lineage:
            - https://openalex.org/I114027177
            country_code: US
            ror: https://ror.org/00jmfr291
            id: https://openalex.org/I114027177
            display_name: University of North Carolina at Chapel Hill
            type: education
          - lineage:
            - https://openalex.org/I114027177
            country_code: US
            ror: https://ror.org/00jmfr291
            id: https://openalex.org/I114027177
            display_name: University of North Carolina at Chapel Hill
            type: education
          orcid: https://orcid.org/0000-0001-6187-6610
          display_name: Jason Priem
          summary_stats:
            "2yr_mean_citedness": 1.5295340589458237
            h_index: 45
            i10_index: 205
          works_api_url: https://api.openalex.org/works?filter=author.id:A5023888391
          ids:
            openalex: https://openalex.org/A5023888391
            orcid: https://orcid.org/0000-0001-6187-6610
            scopus: http://www.scopus.com/inward/authorDetails.url?authorID=36455008000&partnerID=MN8TOARS
          created_date: 2017-08-08
          id: https://openalex.org/A5023888391
          updated_date: 2024-07-13T06:17:17.932040
          works_count: 38
      properties:
        meta:
          $ref: '#/components/schemas/listAuthors_200_response_meta'
        results:
          items:
            $ref: '#/components/schemas/listAuthors_200_response_results_inner'
          type: array
        group_by:
          items:
            $ref: '#/components/schemas/listAuthors_200_response_group_by_inner'
          type: array
    listConcepts_200_response_results_inner_ids:
      description: All the external identifiers that we know about for this concept.
      example:
        openalex: https://openalex.org/C2778407487
        wikidata: https://www.wikidata.org/wiki/Q14565201
        wikipedia: https://en.wikipedia.org/wiki/Altmetrics
        mag: 2778407487
      properties:
        openalex:
          description: This concept's OpenAlex ID.
          type: string
        wikidata:
          description: This concept's Wikidata ID.
          type: string
        wikipedia:
          description: This concept's Wikipedia page URL.
          type: string
        mag:
          description: This concept's Microsoft Academic Graph (MAG) ID.
          type: string
    listConcepts_200_response_results_inner_international:
      description: "This concept's display name in many languages, derived from article\
        \ titles on each language's wikipedia."
      example:
        display_name:
          ca: Altmetrics
      properties:
        display_name:
          additionalProperties:
            type: string
    listConcepts_200_response_results_inner_ancestors_inner:
      description: "A simplified representation of a concept, used when a concept\
        \ is referenced by another entity."
      example:
        level: 1
        id: https://openalex.org/C41008148
        display_name: Human
        wikidata: https://www.wikidata.org/wiki/Q5
      properties:
        id:
          description: The OpenAlex ID for this concept.
          example: https://openalex.org/C41008148
          type: string
        wikidata:
          description: The Wikidata ID for this concept.
          example: https://www.wikidata.org/wiki/Q5
          type: string
        display_name:
          description: The human-readable name of the concept.
          example: Human
          type: string
        level:
          description: "The hierarchical level of the concept. Level 0 is the most\
            \ general, and level 5 is the most specific."
          example: 1
          type: integer
      required:
      - display_name
      - id
      - level
      - wikidata
    listConcepts_200_response_results_inner_summary_stats:
      description: Citation metrics for this concept
      example:
        "2yr_mean_citedness": 1.5295340589458237
        h_index: 105
        i10_index: 5045
      properties:
        "2yr_mean_citedness":
          description: The 2-year mean citedness for this source. Also known as impact
            factor.
          type: number
        h_index:
          description: The h-index for this concept.
          type: integer
        i10_index:
          description: The i-10 index for this concept.
          type: integer
    listConcepts_200_response_results_inner:
      example:
        cited_by_count: 20248
        image_thumbnail_url: https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Altmetrics.svg/100px-Altmetrics.svg.png
        level: 2
        counts_by_year:
        - year: 2021
          works_count: 4211
          cited_by_count: 120939
        - year: 2020
          works_count: 4363
          cited_by_count: 119531
        image_url: https://upload.wikimedia.org/wikipedia/commons/f/f1/Altmetrics.svg
        description: study of alternative metrics for analyzing and informing scholarship
        display_name: Altmetrics
        related_concepts:
        - "{}"
        - "{}"
        works_api_url: https://api.openalex.org/works?filter=concept.id:C2778407487
        summary_stats:
          "2yr_mean_citedness": 1.5295340589458237
          h_index: 105
          i10_index: 5045
        ids:
          openalex: https://openalex.org/C2778407487
          wikidata: https://www.wikidata.org/wiki/Q14565201
          wikipedia: https://en.wikipedia.org/wiki/Altmetrics
          mag: 2778407487
        id: https://openalex.org/C2778407487
        updated_date: 2024-07-13T06:17:17.932040
        created_date: 2017-08-08
        works_count: 3078
        international:
          display_name:
            ca: Altmetrics
        ancestors:
        - level: 1
          id: https://openalex.org/C41008148
          display_name: Human
          wikidata: https://www.wikidata.org/wiki/Q5
        - level: 1
          id: https://openalex.org/C41008148
          display_name: Human
          wikidata: https://www.wikidata.org/wiki/Q5
        wikidata: https://www.wikidata.org/wiki/Q14565201
      properties:
        id:
          description: The OpenAlex ID for this concept.
          example: https://openalex.org/C2778407487
          type: string
        wikidata:
          description: The Wikidata ID for this concept. This is the Canonical External
            ID for concepts.
          example: https://www.wikidata.org/wiki/Q14565201
          type: string
        display_name:
          description: The English-language label of the concept.
          example: Altmetrics
          type: string
        level:
          description: "The level in the concept tree where this concept lives. Lower-level\
            \ concepts are more general, and higher-level concepts are more specific."
          example: 2
          type: integer
        description:
          description: A brief description of this concept.
          example: study of alternative metrics for analyzing and informing scholarship
          type: string
        works_count:
          description: The number of works tagged with this concept.
          example: 3078
          type: integer
[...]
